services:

  Users.domain.UserRepository:
    class: ../../../../modules/users/infrastructure/persistence/typeOrmUserRepository
    arguments: ['@Shared.ConnectionManager']

  Users.application.UserRegistrar:
    class: ../../../../modules/users/application/userRegistrar
    arguments: ['@Users.domain.UserRepository']
