services:

  Users.domain.UserRepository:
    class: ../../../../modules/users/infrastructure/persistence/inMemoryUserRepository
    arguments: []

  Users.application.UserCreator:
    class: ../../../../modules/users/application/userCreator
    arguments: ['@Users.domain.UserRepository']
